/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: rgb(255, 255, 255);
  --color-text-wittebutton: rgb(0, 0, 0);
  --color-text-p: #E1E1E1;
  --color-text-grijs: #cccccc;
  --color-background: rgb(0, 0, 0);
  --color-background-footer: #1C1C1C;
  --font-weight-normaal: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --primaire-button-color: rgb(255, 106, 0);
  --secundairebutton-color: rgb(255, 255, 255);
  --selected-abonnement: rgb(0, 128, 255);
  --unselected-abonnement: #303030;
}

body {
  font-family: "Montserrat", "Montserrat Placeholder", sans-serif;
  color: var(--color-text);
  font-weight: var(--font-weight-normaal);
  text-align: center;
  align-items: center;
  background-color: var(--color-background);
}

h1 {
  font-size: 3em;
  font-weight: var(--font-weight-bold);
  margin-top: 2.5em;
}

h2 {
  font-size: 1.875em;
  font-weight: var(--font-weight-medium);
}

h3 {
  font-size: 1.15em;
  font-weight: var(--font-weight-normaal);
}

p {
  color: var(--color-text-p);
  font-weight: var(--font-weight-normaal);
  font-size: 1em;
  line-height: 1.5em;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  width: 100%;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 99px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: var(--font-weight-medium);
  line-height: 1.5em;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em;
  
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

nav img:nth-of-type(1) {
  width: 5em;
} 
nav img:nth-of-type(2) {
  width: 2em;
  height: auto;
  margin-right: 1em;
  cursor: pointer;
} 

/****************/
/* JOUW STYLING */
/****************/
li button {
  background-color: var(--unselected-abonnement);
  color: var(--color-text);
  font-size: 1em;
  border-radius: 99px;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
}

ul li:first-child button {
  background-color: var(--selected-abonnement);
}

a{
  text-decoration: none;
  color: var(--color-text);
  width: 100%;
}

section{
    padding: 0 1em;;
}

section a {
  display: block;
  color: var(--color-text-wittebutton);
  font-weight: var(--font-weight-medium);
  line-height: 1.5em;
  border-radius: 99px;
  padding: 10px 16px;
  width: 100%;
  background-color: var(--secundairebutton-color);
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 0;
}


footer{
  text-align: left;
  width: 100%;
  padding: 4em 1em;
  background-color: var(--color-background-footer);
}

footer h3{
  margin: 2em 0 0.5em;
  font-size: 1.25em;
  font-weight: var(--font-weight-medium);
}

footer section:first-of-type h3{
  margin: 0;
}

footer h4{
  margin: 0.9em 0 0 0;
  font-size: 1.125em;
  font-weight: var(--font-weight-medium);
}

footer ul{
  flex-direction: column;
  gap: 0.375em;
  font-size: 0.875em;
}

footer section{
  padding: 0;
}

footer ul li{
  padding: 0.375em 0;
}

footer ul li:first-of-type{
  padding-top: 0;
}


/* Download app hieronder */

footer section:nth-of-type(5) ul {
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}

footer section:nth-of-type(5) ul li{
  padding: 0;
}

footer section:nth-of-type(5) ul li img {
  height: 2.75em;
  width: auto;
}

/* Socials hieronder */
footer section:nth-of-type(6) ul {
  flex-direction: row;
  gap: 2.5em;
  align-items: center;
}

footer section:nth-of-type(6) ul li a{
  background-color: transparent;
  padding: 0;
}

footer section:nth-of-type(6) ul li a img{
  height: 2em;
  width: auto;
}

/* Feedback na eerste keer HTML bekijken */
/* Geen pixels, maar ems */
/* Gebruik een marker of ::before om vinkje toe te voegen bij list items */
/* Zet je kleuren in variables */


