*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: rgb(255, 255, 255);
  --color-text-wittebutton: rgb(0, 0, 0);
  --color-text-grijs: rgb(204, 204, 204);
  --color-text-p: #e1e1e1;
  --color-background: rgb(0, 0, 0);
  --font-weight-normaal: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --primaire-button-color: rgb(255, 106, 0);
  --secundairebutton-color: rgb(255, 255, 255);
  --selected-abonnement: rgb(0, 128, 255);
  --unselected-abonnement: #303030;
}

main section:nth-of-type(2),
main section:nth-of-type(3),
main section:nth-of-type(4),
main section:nth-of-type(5),
main ol,
main section:nth-of-type(6),
main section:nth-of-type(7),
main section:nth-of-type(8) {
  max-width: 1280px;
  margin: 0 auto;
}

main {
  text-align: left;
}

/* Hero */
main section:first-of-type {
  position: relative;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
  padding: 1.5rem;
}

main section:first-of-type video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

main section:first-of-type h1 {
  font-size: 2.25em;
  font-weight: 600;
  margin-bottom: 0.75em;
}

@media screen and (min-width: 760px) {
  main section:first-of-type h1 {
    font-size: 3.75em;
    margin-bottom: 0.25em;
  }
}

main section:first-of-type p {
  margin: 0;
}

main section:first-of-type button {
  width: 100%;
  font-size: 1.25em;
  font-weight: var(--font-weight-medium);
  margin-top: 2.5em;
}

@media screen and (min-width: 760px) {
  main section:first-of-type button {
    width: fit-content;
    margin-top: 2em;
  }
}

/* Hieronder foto's met tekst*/
main section div img {
  border-radius: 1.25em;
  margin: 2em 0;
  width: 100%;
}

main section:nth-of-type(2),
main section:nth-of-type(3),
main section:nth-of-type(4),
main section:nth-of-type(5) {
  display: flex;
  flex-direction: column;
}

main section:nth-of-type(2) div,
main section:nth-of-type(3) div,
main section:nth-of-type(4) div,
main section:nth-of-type(5) div {
  flex: 1 1 50%;
}
/* Bron bij verzinnen */

@media screen and (min-width: 760px) {
  main section:nth-of-type(2),
  main section:nth-of-type(3),
  main section:nth-of-type(4),
  main section:nth-of-type(5) {
    flex-direction: row;
    align-items: center;
    gap: 4em;
    padding: 0 2em;
    margin-top: 3em;
  }
}

main section:nth-of-type(2) div:first-of-type,
main section:nth-of-type(3) div:first-of-type,
main section:nth-of-type(4) div:first-of-type,
main section:nth-of-type(5) div:first-of-type {
  order: 2;
  margin-bottom: 0.75em;
}

main section:nth-of-type(2) div:last-of-type,
main section:nth-of-type(3) div:last-of-type,
main section:nth-of-type(4) div:last-of-type,
main section:nth-of-type(5) div:last-of-type {
  order: 1;
}

/* hieronder zodat tekst en image afwisselen van kant */
@media screen and (min-width: 760px) {
  main section:nth-of-type(3) div:last-of-type,
  main section:nth-of-type(5) div:last-of-type {
    order: 2;
  }
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(3) div:first-of-type,
  main section:nth-of-type(5) div:first-of-type {
    order: 1;
  }
}

main section:nth-of-type(2) h2,
main section:nth-of-type(3) h2,
main section:nth-of-type(4) h2,
main section:nth-of-type(5) h2 {
  margin-bottom: 0.75em;
}

main section:nth-of-type(5) div:first-of-type a {
  text-align: center;
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(5) div:first-of-type a {
    width: fit-content;
  }
}

/* Onze mijlpalen */

main section:nth-of-type(6) {
  text-align: center;
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(6) {
    margin-top: 8em;
  }
}

ol {
  padding: 3em 1em;
}

@media screen and (min-width: 760px) {
  ol {
    padding: 4em 2em;
  }
}

ol li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
/* bolletje en balk hieronder */
/* div bolletje 1 #ffaa00
  div  bolletje 2 #FF7819
  div  bolletje 3 #FF0055
  div  bolletje 4 #FF00AA
  div  bolletje 5 #BF00FF
  div  bolletje 6 #4000FF
  div  bolletje 7 #000BFF
  div  bolletje 8 #00ff95
  div bolletje 9 #40bf4a */

ol li div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 1em 1em 0 1em;
}

ol li div div:first-of-type {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: var(--secundairebutton-color);
}

ol li div div:last-of-type {
  width: 0.25em;
  height: 13.5em;
  background-color: var(--unselected-abonnement);
}

/* Hieronder de kleuren van alle bolletjes en balken */

/* balk hieronder */
ol li:nth-of-type(1) div div:last-of-type {
  background-color: #ffaa00;
}
ol li:nth-of-type(2) div div:first-of-type {
  background-color: #ffaa00;
}

ol li:nth-of-type(2) div div:last-of-type {
  background-color: #ff7819;
}
ol li:nth-of-type(3) div div:last-of-type {
  background-color: #ff0055;
}
ol li:nth-of-type(4) div div:first-of-type {
  background-color: #ff0055;
}

ol li:nth-of-type(3) div div:first-of-type {
  background-color: #ff7819;
}

ol li:nth-of-type(4) div div:last-of-type {
  background-color: #ff00aa;
}
ol li:nth-of-type(5) div div:first-of-type {
  background-color: #ff00aa;
}

ol li:nth-of-type(5) div div:last-of-type {
  background-color: #bf00ff;
}
ol li:nth-of-type(6) div div:first-of-type {
  background-color: #bf00ff;
}

ol li:nth-of-type(6) div div:last-of-type {
  background-color: #4000ff;
}
ol li:nth-of-type(7) div div:first-of-type {
  background-color: #4000ff;
}

ol li:nth-of-type(7) div div:last-of-type {
  background-color: #00bfff;
}
ol li:nth-of-type(8) div div:first-of-type {
  background-color: #00bfff;
}

ol li:nth-of-type(8) div div:last-of-type {
  background-color: #00ff95;
}
ol li:nth-of-type(9) div div:first-of-type {
  background-color: #00ff95;
}

ol li:nth-of-type(9) div div:last-of-type {
  background-color: #40bf4a;
}
ol li:nth-of-type(10) div div:last-of-type {
  background-color: var(--color-background);
}
ol li:nth-of-type(10) div div:first-of-type {
  background-color: #40bf4a;
}

/* Tekstgedeelte (datum, titel, p) hieronder */
ol li article {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

ol li article h2:first-of-type {
  order: 2;
  margin: 0;
}

ol li article p:nth-of-type(1) {
  order: 1;
  margin: 0;
  color: var(--color-text);
  font-size: 1.125em;
  font-weight: var(--font-weight-medium);
}

ol li article p:nth-of-type(2) {
  order: 3;
  margin: 0;
  padding-bottom: 2em;
}

/* Updates van onze blog */
main section:nth-of-type(7) div {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1280px) {
  main section:nth-of-type(7) div {
    flex-direction: row;
    gap: 3em;
  }
}

main section:nth-of-type(7) div article {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 3em;
}

@media screen and (min-width: 1280px) {
  main section:nth-of-type(7) div article {
    width: 33%;
  }
}

main section:nth-of-type(7) div article img {
  height: auto;
  width: 100%;
  order: 1;
  margin-bottom: 0;
  border-radius: 1.25em;
  aspect-ratio: 1920 / 1080;
  object-fit: cover;
}

/* Aspect ratio zag ik in de code van bunq staan tijdens het inspecteren, 
volgende bron hierover opgezocht: https://www.w3schools.com/cssref/css_pr_aspect-ratio.php 
Toen werd de volgende bron voorgesteld over object-fit: https://www.w3schools.com/cssref/css3_pr_object-fit.php*/

main section:nth-of-type(7) div article ul {
  order: 2;
  margin: 2em 0 0;
}

main section:nth-of-type(7) div article ul li {
  font-size: 0.9em;
  font-weight: var(--font-weight-normaal);
  padding-right: 1em;
}

main section:nth-of-type(7) div article ul li:nth-of-type(1) {
  color: var(--primaire-button-color);
  font-weight: var(--font-weight-medium);
}

main section:nth-of-type(7) div article h3 {
  order: 3;
  font-weight: var(--font-weight-medium);
  margin-bottom: 0.5em;
}

main section:nth-of-type(7) div article p {
  order: 4;
  margin-top: 0;
  line-height: 1.5em;
}
@media screen and (min-width: 1280px) {
  main section:nth-of-type(7) div article p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}
/* https://www.perplexity.ai/search/hoe-kan-ik-ervoor-zorgen-dat-h-_Xu45PPURDqUCsk26_idGQ#0 voor webkit-box */

/* Laatste sectie */
main section:last-of-type {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section:last-of-type h2 {
  font-size: 2.25em;
  font-weight: var(--font-weight-medium);
}

main section:last-of-type p {
  margin-bottom: 3em;
}

main section:last-of-type a {
  font-size: 1.25em;
  font-weight: var(--font-weight-medium);
  padding: 0.75em 1.25em;
  line-height: 1.25em;
}

@media screen and (min-width: 760px) {
  main section:last-of-type a {
    width: fit-content;
  }
}

@media screen and (min-width: 760px) {
  main section:last-of-type h2 {
    font-size: 4.5em;
  }
}
