/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: rgb(255, 255, 255);
  --color-text-wittebutton: rgb(0, 0, 0);
  --color-text-grijs: rgb(204,204,204);
  --color-background: rgb(0, 0, 0);
  --font-weight-normaal: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --primaire-button-color: rgb(255, 106, 0);
  --secundairebutton-color: rgb(255, 255, 255);
  --selected-abonnement: rgb(0, 128, 255);
  --unselected-abonnement: rgb(69, 69, 69);
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
  font-weight: var(--font-weight-normaal);
  text-align: center;
  align-items: center;
  background-color: var(--color-background);
}

h1 {
  font-size: 2.5em;
  font-weight: var(--font-weight-bold);
  margin-top: 2em;
}

h2 {
  font-size: 1.8em;
  font-weight: var(--font-weight-medium);
}

h3 {
  font-size: 1.15em;
  font-weight: var(--font-weight-normaal);
}

p {
  font-weight: var(--font-weight-normaal);
  font-size: 1em;
  line-height: 1.5em;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  width: 100%;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 99px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em;
  
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

nav img:nth-of-type(1) {
  width: 5em;
} 
nav img:nth-of-type(2) {
  width: 2em;
  height: auto;
  margin-right: 1em;
} 

/****************/
/* JOUW STYLING */
/****************/
li button {
  background-color: var(--unselected-abonnement);
  color: var(--color-text);
  font-size: 1em;
  border-radius: 99px;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
}

ul li:first-child button {
  background-color: var(--selected-abonnement);
}

a{
  text-decoration: none;
  color: var(--color-text);
  width: 100%;
}

section a {
  color: var(--color-text-wittebutton);
  font-weight: var(--font-weight-medium);
  border-radius: 99px;
  padding: 10px 16px;
  width: 100%;
  background-color: var(--secundairebutton-color);
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 0;
}
/* Feedback na eerste keer HTML bekijken */
/* Geen pixels, maar ems */
/* Gebruik een marker of ::before om vinkje toe te voegen bij list items */
/* Zet je kleuren in variables */


