*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: rgb(255, 255, 255);
  --color-text-wittebutton: rgb(0, 0, 0);
  --color-text-grijs: rgb(204, 204, 204);
  --color-text-p: #e1e1e1;
  --color-background: rgb(0, 0, 0);
  --font-weight-normaal: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --primaire-button-color: rgb(255, 106, 0);
  --secundairebutton-color: rgb(255, 255, 255);
  --selected-abonnement: rgb(0, 128, 255);
  --unselected-abonnement: #303030;
}

main section:nth-of-type(1) {
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
}

@media screen and (min-width: 1280px){
  main section:nth-of-type(1){
    flex-direction: row;
    text-align: left;
  }
}

main section:nth-of-type(1) button {
  width: 100%;
  font-size: 1.25em;
  font-weight: var(--font-weight-medium);
  margin-top: 1.5em;
  background-color: var(--color-text);
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(1) button {
    width: max-content;
  }
}

main section:nth-of-type(1) h3 {
  font-size: 1.25em;
  margin: 1.5em, 1em;
  line-height: 1.5;
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(1) h3 {
    font-size: 1.875em;
  }
}

main section:nth-of-type(1) img {
  margin-top: 2em;
  padding-left: 3em;
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(1) img {
    margin-top: 4em;
    padding-left: 3em;
  }
}

@media screen and (min-width: 1280px){
  main section:nth-of-type(1) img{
    width: 50%;
    padding-left: 4em;
  }
}
/* marquee */
marquee {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2em;
  margin: 4em auto;
  padding: 1em 2em;
  max-width: 1280px;
  overflow: clip;
}

marquee img {
  height: 2.5em;
  width: auto;
  padding-right: 2em;
}

/* Alles wat je nodig hebt van een online bank hieronder */
main section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 5em auto;
  max-width: 1280px;
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(2) {
    flex-direction: row;
    gap: 4em;
    align-items: center;
  }
}

main section:nth-of-type(2) div {
  display: flex;
  flex-direction: column;
}

main section:nth-of-type(2) h2 {
  order: 1;
  margin: 0.5em 0 1em 0;
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(2) div h2 {
    margin-bottom: 0.5em;
  }
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(2) img {
    width: 50%;
    height: auto;
  }
}

main section:nth-of-type(2) p {
  order: 0;
  margin-bottom: 0;
  font-weight: var(--font-weight-medium);
  font-size: 1.25em;
  color: var(--color-text-grijs);
}

main section:nth-of-type(2) ul {
  flex-direction: column;
  align-items: flex-start;
  order: 2;
}

main section:nth-of-type(2) ul li {
  display: flex;
  align-items: flex-start;
  line-height: 1.5;
}

main section:nth-of-type(2) ul li::before {
  content: "⎷";
  margin-right: 1em;
  width: 1em;
  line-height: 1.5;
}

@media screen and (min-width: 760px) {
  li {
    font-size: 1.125em;
  }
}
/* [https://www.w3schools.com/cssref/sel_before.php](https://www.w3schools.com/cssref/sel_before.php) gebruikt voor ::before 
/* [https://www.w3schools.com/css/css_text_spacing.asp?utm_source=chatgpt.com](https://www.w3schools.com/css/css_text_spacing.asp?utm_source=chatgpt.com) voor line-height */

/* Ontdek bunq vandaag 20 miljoen gebruikers hieronder */
main section:nth-of-type(3) {
  margin: 8em auto;
  max-width: 1280px;
}

main section:nth-of-type(3) ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 3em;
    margin-bottom: 2em;
    gap: 1em;
}

/* @media screen and (min-width: 760px) {
  main section:nth-of-type(3) ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
} */

/* @media screen and (min-width: 1280px) {
  main section:nth-of-type(3) ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
} */

main section:nth-of-type(3) ul img {
  width: 100%;
  height: auto;
}

main section:nth-of-type(3) button {
  font-weight: var(--font-weight-medium);
  color: var(--color-text);
  font-size: 1.25em;
  line-height: 1.5em;
  background-color: var(--primaire-button-color);
  width: 100%;
  letter-spacing: 0.015em;
}
@media screen and (min-width: 760px) {
  main section:nth-of-type(3) button {
    width: max-content;
  }
}

main section:nth-of-type(3) article {
  width: 100%;
  height: auto;
}
/* [https://www.w3schools.com/css/css_text_spacing.asp?utm_source=chatgpt.com](https://www.w3schools.com/css/css_text_spacing.asp?utm_source=chatgpt.com) voor letterspacing */

/* Eindelijk een bank die het leven makkelijk maakt */
/* algemene styling */
main section:nth-of-type(4){
    display: flex;
    max-width: 1280px;
    flex-direction: column;
    margin: 0 auto;
}


main section:nth-of-type(4) h2 {
  font-weight: var(--font-weight-bold);
  font-size: 2.125em;
}

main section:nth-of-type(4) article {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 4em 0;
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(4) article {
    flex-direction: row;
    gap: 4em;
    align-items: center;
    justify-content: space-between;
  }

  main section:nth-of-type(4) h2{
    font-size: 3em;
  }
}

main section:nth-of-type(4) article ul {
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
}

@media screen and (min-width: 1280px){
main section:nth-of-type(4) article ul{
  flex-direction: row;
  width: max-content;
}
}
main section:nth-of-type(4) article ul li {
  width: 100%;
}


main section:nth-of-type(4) article img {
  order: -1;
  margin-bottom: 3em;
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(4) article img {
    width: 50%;
    margin-bottom: 0;
  }
}

main section:nth-of-type(4) article h3 {
  font-size: 1.8em;
  font-weight: 500;
  text-align: left;
  margin-bottom: 0;
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(4) article h3 {
    font-size: 3em;
    margin-top: 0;
  }
}

main section:nth-of-type(4) article p {
  text-align: left;
  margin-bottom: 0;
}

main section:nth-of-type(4) article a {
  margin-top: 2em;
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(4) article a,
  main section:nth-of-type(4) article div ul li a {
    width: max-content;
  }
}

main section:nth-of-type(4) article ul li a {
  display: block;
  width: 100%;
  text-align: center;
}
/* Uitzonderingen van "Eindelijk een bank die het leven makkelijk maakt"  hieronder*/
main section:nth-of-type(4) article:nth-of-type(2) ul {
  gap: 1em;
}

main section:nth-of-type(4) article:nth-of-type(2) ul li a {
  margin-top: 0;
}

main section:nth-of-type(4) article:nth-of-type(2) ul li:nth-of-type(2) a {
  color: var(--color-text);
  background-color: transparent;
  border: 2px solid var(--color-text-p);
  box-sizing: border-box; /* Voor borderbox volgende bron gebruikt: https://chatgpt.com/share/696a61c5-1508-800e-80d8-92f4c4fcdcd4 */
}

main section:nth-of-type(4) article:nth-of-type(6) a:first-of-type,
main section:nth-of-type(4) article:nth-of-type(7) a:first-of-type {
  padding: 0;
  margin-top: 1em;
  text-align: left;
  color: var(--color-text);
  font-weight: var(--font-weight-normaal);
  text-decoration: underline;
  background-color: transparent;
}

/* Hieronder de Z lay-out van Eindelijk een bank die het leven makkelijk maakt*/

@media screen and (min-width: 760px) {
  main section:nth-of-type(4) article:nth-of-type(2) div,
  main section:nth-of-type(4) article:nth-of-type(4) div,
  main section:nth-of-type(4) article:nth-of-type(6) div,
  main section:nth-of-type(4) article:nth-of-type(8) div,
  main section:nth-of-type(4) article:nth-of-type(10) div {
    order: 0;
  }
}
@media screen and (min-width: 760px) {
  main section:nth-of-type(4) article:nth-of-type(2) img,
  main section:nth-of-type(4) article:nth-of-type(4) img,
  main section:nth-of-type(4) article:nth-of-type(6) img,
  main section:nth-of-type(4) article:nth-of-type(8) img,
  main section:nth-of-type(4) article:nth-of-type(10) img {
    order: 1;
  }
}

/* Vertrouwd door miljoen gebruikers hieronder */
main section:nth-of-type(5) {
  margin: 8em auto;
  max-width: 1280px;
}

/* lijst met cards */
main section:nth-of-type(5) ul {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 2em;
}

main section:nth-of-type(5) ul li {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: flex-start;
  text-align: left;
  padding: 2em 2em 1.375em;
  border-radius: 1.25em;
  background-color: var(--unselected-abonnement);
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(5) ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(5) ul li {
    padding-left: 1.25em;
  }
}

main section:nth-of-type(5) ul li div:first-of-type {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
}

main section:nth-of-type(5) ul li div:first-of-type img {
  width: 1.6em;
  height: 1.6em;
}

main section:nth-of-type(5) ul li div h3 {
  margin: 0 0 0.25em;
  font-weight: var(--font-weight-medium);
}
@media screen and (min-width: 760px) {
  main section:nth-of-type(5) ul li div h3 {
    font-size: 1.08em;
  }
}

main section:nth-of-type(5) ul li p {
  margin: 0;
  color: var(--color-text-grijs);
  font-weight: var(--font-weight-normaal);
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(5) ul li p {
    font-size: 0.88em;
  }
}

/* Kies je abonnement */
main section:nth-of-type(6) {
  margin: 8em auto 4em;
  max-width: 1280px;
}

main section:nth-of-type(6) ul:first-of-type {
  display: flex;
  justify-content: center;
  gap: 0.75em;
  margin-top: 3em;
}

main section:nth-of-type(6) ul:nth-of-type(2) {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  text-align: left;
  margin-bottom: 3em;
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(6) ul:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
/* Snel opfrisvraagje over grid https://www.perplexity.ai/search/hoe-krijg-ik-deze-4-blokken-al-zoE24d7vQFyZaCMIEqf65Q?sm=d#0*/

@media screen and (min-width: 1280px) {
  main section:nth-of-type(6) ul:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.active{
  background-color: var(--selected-abonnement);
}


main section:nth-of-type(6) ul:nth-of-type(2) li {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 2em 2em;
  border-radius: 1.25em;
  background-color: var(--unselected-abonnement);
}

main section:nth-of-type(6) ul:nth-of-type(2) li div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 0.875em;
}

main section:nth-of-type(6) ul:nth-of-type(2) li h3 {
  margin: 0 0;
  font-weight: var(--font-weight-medium);
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(6) ul:nth-of-type(2) li div h3{
    font-size: 1.875em;
  }
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(6) ul:nth-of-type(2) li div p:nth-of-type(2){
    font-size: 1em;
  }
}

main section:nth-of-type(6) ul:nth-of-type(2) li div p {
  margin: 0;
}

main section:nth-of-type(6) ul:nth-of-type(2) li div p:first-of-type {
  color: var(--color-text-grijs);
  font-size: 1.125em;
  font-weight: var(--font-weight-medium);
}

main section:nth-of-type(6) ul:nth-of-type(2) li img {
  order: -1;
  width: 3em;
  height: auto;
  margin-bottom: 1.5em;
}

main section:nth-of-type(6) ul:nth-of-type(2) li a {
  padding: 0;
  color: white;
  background-color: var(--unselected-abonnement);
  margin-top: auto;
}

/* Voor margin-top auto hulp nodig gehad van AI https://www.perplexity.ai/search/hoe-krijg-ik-meer-info-allemaa-WWw1mX3bSdaHyxAKKSISjw?sm=d#0 */

main section:nth-of-type(6) ul:last-of-type {
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(6) ul:last-of-type a {
    width: max-content;
  }
}

main section:nth-of-type(6) ul:last-of-type a:last-of-type {
  color: white;
  background: none;
}

/* Hieronder Veelgestelde vragen */
main section:nth-of-type(7) {
  margin: 8em 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main section:nth-of-type(7) h2 {
  margin-bottom: 2em;
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(7) h2{
    margin-bottom: 1.375em;
  }
}

main section:nth-of-type(7) div {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1em;
  padding: 1.5em 1.5em 1.5em 1em;
  width: 100%;
  max-width: 768px;
  border-radius: 1.375em;
  background-color: var(--unselected-abonnement);
}

main section:nth-of-type(7) div details {
  font-weight: var(--font-weight-medium);
  color: var(--color-text-p);
  padding-bottom: 0.75em;
}

main section:nth-of-type(7) div details:last-of-type,
main section:nth-of-type(7) div details:last-of-type p {
  padding-bottom: 0;
}

main section:nth-of-type(7) div details:last-of-type p {
  margin-bottom: 0;
}

main section:nth-of-type(7) details summary {
  list-style: none;
  cursor: pointer;
  position: relative;
  padding-left: 2em;
  font-size: var(--font-weight-medium);
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(7) summary {
    font-size: 1.25em;
  }
}
main section:nth-of-type(7) details p {
  padding-left: 2em;
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(7) details p {
    font-size: 1em;
    margin-bottom: 0;
  }
}

main section:nth-of-type(7) details summary::before {
  content: "+";
  position: absolute;
  left: 0;
  top: 50%;
  color: var(--color-text-grijs);
  font-size: 2.2em;
  font-weight: var(--font-weight-normaal);
  transform: translateY(-50%);
  transition: transform 0.4s ease;
}

main section:nth-of-type(7) details[open] > summary::before {
  transform: translateY(-50%) rotate(45deg);
}

/* Gebruikt voor styling van summary 
https://css-tricks.com/using-styling-the-details-element/) 
[https://www.w3schools.com/cssref/sel_before.php](https://www.w3schools.com/cssref/sel_before.php) 


Rotate animatie gebruikt uit lesmateriaal Week 4 Werkgroep 8 Animeren*/

/* Hieronder Open je bankrekening in 5 minuten */
main section:nth-of-type(8) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section:nth-of-type(8) h2 {
  font-size: 2.25em;
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.25em;
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(8) h2 {
    font-size: 3em;
  }
}

@media screen and (min-width: 1280px) {
  main section:nth-of-type(8) h2 {
    font-size: 3.75em;
  }
}

main section:nth-of-type(8) p {
  margin-bottom: 3em;
}

main section:nth-of-type(8) a {
  font-size: 1.25em;
  font-weight: 600;
  padding: 0.75em 1.25em;
  line-height: 1.25em;
}

@media screen and (min-width: 760px) {
  main section:nth-of-type(8) a {
    width: max-content;
  }
}
